<div class="profile_edit container">
  <form method="post" action="#">
    <div class="field">
      <label for="user_name">名前</label>
      <input type="text" name="user_name" placeholder="名前を入力して下さい。">
    </div>
    <div class="field">
      <label for="user_email">メールアドレス</label>
      <input type="text" name="user_email" placeholder="メールアドレスを入力して下さい。">
    </div>
    <div class="field">
      <label for="user_comment">コメント</label>
      <input type="text" name="user_comment" placeholder="自己紹介など">
    </div>
    <div class="field">
      <label>プロフィール画像</label>
      <div class="file_wrap">
        <input type="file" name="image" />
      </div>
    </div>
    <div class="button_wrap">
      <input type="submit" value="保存する" class="button">
    </div>
  </form>
</div>