<div class="user container">
  <!-- プロフィール部分 -->
  <div class="profile">
    <div class="image">
      <div style="background: url('https://dummyimage.com/200/df81a2/fff'); background-position: 50%; background-size: cover;"></div>
    </div>
    <div class="info">
      <div class="name">
        <h1>渡辺はるか</h1>
        <div class="actions">
          <div class="edit">
            <a href="#">プロフィール編集</a>
          </div>
        </div>
      </div>
      <div class="status">
        <p class="posts_count">投稿数3件</p>
        <p class="follower_count"><a href="#">フォロワー1人</a></p>
        <p class="follow_count"><a href="#">3人をフォロー中</a></p>
      </div>
      <div class="comment">
        コードキャンプの渡辺はるかです！よろしくね♪
      </div>
    </div>
  </div>
  <!-- フォロワーリスト部分 -->
  <h1>フォロワー</h1>
  <ul class="users">
    <li>
      <div style="background: url('https://dummyimage.com/200/b492cc/fff'); background-position: 50%; background-size: cover;" class="image"></div>
      <a href="#">
        <span class="name">田上士郎</span>
      </a>
      <a class="button" href="#">フォロー解除</a>
    </li>
  </ul>
</div>