<div class="sign_up">
  <div class="contents">
    <div class="sign_up_form">
      <h1>Photo</h1>
      <p>友達のphotoをチェックしよう</p>
      <%= form_for @user, url: sign_up_path do |f| %>
        <div class="field">
          <%= f.text_field :name, placeholder: "ユーザーネーム" %>
        </div>
        <div class="field">
          <%= f.email_field :email, placeholder: "メールアドレス" %>
        </div>
        <div class="field">
          <%= f.password_field :password, placeholder: "パスワード" %>
        </div>
        <button>登録する</button>
      <% end %>
    </div>
    <div class="sign_in_link">
      <p>アカウントをお持ちですか？ <a href="/sign_in">サインインする</a></p>
    </div>
  </div>
</div>