<div class="sign_in">
  <div class="contents">
    <div class="sign_in_form">
      <h1>artshare</h1>
      <%= form_for @user, url: sign_in_path do |f| %>
        <div class="field">
          <%= f.email_field :email, placeholder: "メールアドレス" %>
        </div>
        <div class="field">
          <%= f.password_field :password, placeholder: "パスワード" %>
        </div>
        <button>サインインする</button>
      <% end %>
    </div>
    <div class="sign_in_link">
      <p>新しいアカウントをお持ちですか？ <a href="/sign_up">新規登録する</a></p>
    </div>
  </div>
</div>