<div class="top container">
  <ul class="posts">
    <!-- 投稿画像１つめ -->
    <li>
      <!-- 投稿者のアイコン -->
      <div class="user">
        <div class="icon image" style="background: url('https://dummyimage.com/200/df81a2/fff'); background-position: center; background-size: cover"></div>
        <p><a href="#">渡辺はるか</a></p>
      </div>
      <!-- 投稿画像 -->
      <div class="image_wrap">
        <img src="https://dummyimage.com/600/6b6b6b/fff">
      </div>
      <!-- テキスト部分 -->
      <div class="info">
        <div class="action">
          <a href="#">
            <i class="fa fa-heart-o"></i><!-- いいねを押してない時のハート -->
          </a>
          <label for="post-comment-">
            <i class="fa fa-comment-o"></i>
          </label>
          <a href="#">
            <i class="fa fa-close"></i>
          </a>
        </div>
        <div class="like">
          <p>いいね 3件</p>
        </div>
        <!-- コメント部分 -->
        <div class="comment">
          <ul>
            <!-- 投稿者のキャプション -->
            <li>
              <span class="user_name">渡辺はるか</span>
              <span class="caption">はじめまして！</span>
            </li>
            <!-- 画像へのコメント -->
            <li>
              <span class="user_name">田中一郎</span>
              <span class="caption">こんにちは〜</span>
            </li>
          </ul>
          <!-- コメント入力部分 -->
          <div class="text_wrap">
            <form method="post" action="#">
              <div class="field">
                <input type="text" name="comment" id="post-comment-" placeholder="コメントを入力">
                <input type="submit" value="送信">
              </div>
            </form>
          </div>
        </div>
      </div>
    </li>
    
    
    <!-- 投稿画像２つめ -->
    <li>
      <!-- 投稿者のアイコン -->
      <div class="user">
        <div class="icon image" style="background: url('https://dummyimage.com/200/6eb7db/fff'); background-position: center; background-size: cover"></div>
        <p><a href="#">山田次郎</a></p>
      </div>
      <!-- 投稿画像 -->
      <div class="image_wrap">
        <img src="https://dummyimage.com/600/6b6b6b/fff">
      </div>
      <!-- テキスト部分 -->
      <div class="info">
        <div class="action">
          <a href="#">
            <i class="fa fa-heart active"></i><!-- いいねを押した時のハート -->
          </a>
          <label for="post-comment-">
            <i class="fa fa-comment-o"></i>
          </label>
        </div>
        <div class="like">
          <p>いいね 1件</p>
        </div>
        <!-- コメント部分 -->
        <div class="comment">
          <ul>
            <!-- 投稿者のキャプション -->
            <li>
              <span class="user_name">山田次郎</span>
              <span class="caption">Hello！</span>
            </li>
          </ul>
          <!-- コメント入力部分 -->
          <div class="text_wrap">
            <form method="post" action="#">
              <div class="field">
                <input type="text" name="comment" id="post-comment-" placeholder="コメントを入力">
                <input type="submit" value="送信">
              </div>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <!-- おすすめユーザー -->
  <div class="recommend">
    <h2>おすすめ</h2>
    <ul>
      <li>
        <a href="#">
          <img src="https://dummyimage.com/200/f6d580/fff">
          <p>田中一郎</p>
        </a>
        <a class="button" href="#">フォローする</a>
      </li>
      <li>
        <a href="#">
          <img src="https://dummyimage.com/200/6eb7db/fff">
            <p>山田次郎</p>
        </a>
        <a class="button" href="#">フォローする</a>
      </li>
      <li>
        <a href="#">
          <img src="https://dummyimage.com/200/cfe283/fff">
          <p>山中三郎</p>
        </a>
        <a class="button" href="#">フォローする</a>
      </li>
    </ul>
  </div>
</div>